.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

a{
    text-decoration: none;
    color: white;
}

.navbar_logo{
    font-size: 24px;
    color: white;
}

.navbar_logo i{
    color: #d49466;

}

.navbar_menu{
    display: flex;
    list-style: none;
    padding: 0px;
}

.navbar_menu li{
    padding: 8px 12px;
}

.navbar_menu li:hover{
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_contant{
    display: flex;
    list-style: none;
    padding: 0px;
    color: white;
}

.navbar_contant li {
    padding: 8px 12px;
}

@media screen and (max-width: 768px) { /*이 픽셀 아래에서는 이 css를 덧붙여 적용해라*/
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_menu {
        flex-direction: column;
        align-items: center; /*보조 축*/
        width: 100%;
    }

    .navbar_menu li {
        text-align: center;
        width: 80%;
    }

    .navbar_contant {
        justify-content: center; /*메인 축*/
        width: 100%;
    }
}